* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.testimonial {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 50px 50px 30px 1px rgba(0, 0, 0, 0.05);
}
.testimonial .header {
  display: flex;
}
.testimonial .header .name-box {
  display: box;
}
.testimonial .header .name-box .name {
  font-weight: 600;
}
.testimonial .header .name-box .status {
  color: inherit;
  opacity: 50%;
}
.testimonial .header .avatar {
  border-radius: 90%;
  width: 35px;
  border: solid hsl(263, 55%, 52%);
  margin-right: 15px;
}
.testimonial h1 {
  padding: 15px 0;
  font-weight: 500;
}
.testimonial .review {
  color: inherit;
  opacity: 70%;
  line-height: 1.5;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 15px;
  background-color: hsl(210, 46%, 95%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  min-height: 100vh;
}

main {
  margin: 2rem;
  display: grid;
  gap: 1.5rem;
  max-width: 1150px;
}

.Daniel {
  background-color: hsl(263, 55%, 52%);
  position: relative;
  background-image: url(../images/quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 0%;
}

.Jonathan {
  background-color: hsl(217, 19%, 35%);
}

.Jeanette,
.Kira {
  background-color: hsl(0, 0%, 100%);
  color: hsl(219, 29%, 14%);
}

.Patrick {
  background-color: hsl(219, 29%, 14%);
}

@media only screen and (min-width: 1023px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-row-span-2 {
    grid-column: 4;
    grid-row: 1/span 2;
  }
  .grid-col-span-2 {
    grid-column: span 2;
  }
}